:root {
  --ff-heading: 'Epilogue', sans-serif;

  --bg-primary: #28293E;

  --fc-primary: #ffffff;
  --fc-secondary: #bbb3e6;
}

body {
  font-family: var(--ff-heading);

  background-color: var(--bg-primary);
  color: var(--fc-primary);

}

header {
  font-family: var(--ff-heading);
}

header p {
  color: var(--fc-secondary);
  
}